<!DOCTYPE html>
<html lang="en">
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="http://rvera.github.io/image-picker/image-picker/image-picker.min.js"></script>
	<script type="text/javascript" src="http://desandro.github.io/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-datepicker.standalone.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/image-picker.css') }}">

	
	


	</head>
	<body>
		
		{% block content %} {% endblock %}

	</body>
</html>